/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1, h2 {
    font-family: 'Bebas Neue', cursive;
}

.top-color {
    background-color: #FFF9F4;
}
.font-color {
    color: #FA804C;
}
.font-color2 {
    color: #363958;
}

.shoes-back {
    background-color: #f1f1f1;
}

